{% extends 'base.html' %}
{% block title %}HTF Drugs{% endblock %}

{% block content%}
<head>

    <!--connect javascript to base html -->
      <!-- connects families.html to jquery and the datatables database-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <!-- connects families.html to family.js, my own js script -->
    <script src="{{ url_for('static', filename='js/tables.js') }}"></script>

</head>

<body>

  <h1> Interaction Drugs </h1>
<p><i>Below are 523 drugs which interact with TFs. Click on one to find out more about the drug's interactions. </i></p>
  <table id="drugtab" class="display", style="display:none; width:80%">
    <thead>
        <tr>
            <th>Drug Name</th>
            <th>Drug ID</th>
        </tr>
    </thead>
    <tbody>
       {% for item in drug %}
        <tr>
            <td><a href="{{url_for('drug1', drug_name=item[0])}}">{{ item[0]}}</a></td>
        	<td>{{ item[1]}}</td>
    	</tr>

        {% endfor %}
    </tbody>
</table>

<br/>
<br/>
<br/>


{% endblock %}